@use '../utils' as f;
@use '../layout.scss/breakpoint' as lay;
@import '../utils/font';



nav {
  display: grid;
  grid-template-columns: f.rem(210) 2fr f.rem(250);
  background: hsl(0, 0%, 100%);
  
  padding: f.rem(14) f.rem(13);
  align-items: center;
  cursor: pointer;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3000;
  box-shadow: 0 2px 3px rgb(198, 198, 198);
  margin-bottom: 5px;
  


@include lay.breakpoint(medium) {
  grid-template-columns: f.rem(180) 390px f.rem(180);
  padding: f.rem(7) f.rem(13);
  box-shadow: none;
  margin-bottom: 0px;
}

@include lay.breakpoint(large) {
  grid-template-columns: f.rem(210) 2fr f.rem(200);
 
}

 
}




.nav__leftside {
  display: flex;
  gap: 0 f.rem(20);
  align-items: center;
  margin-right: 40px;
  
}

.nav__hamburger {
  width: f.rem(30);
  padding: 2px 4px 0.5px 4px;
  
  .nav__bar {
  width: 100%;
  height: 100%;
  color: hsl(0, 0%, 100%);

  @include lay.breakpoint(small) {
    display: none;
  }

  @include lay.breakpoint(medium) {
    display: inherit;
  }
  }

  &:hover {
    background: rgba(200, 198, 198, 0.67);
    border-radius: 50%;
  }
}

.nav__youtubelogo {
  margin-left: -50px;
  width: 100px;
  position: relative;

 

  @include lay.breakpoint(medium) {
    margin-left: 0;
    width: f.rem(80);
    height: 100%;
  }
}

.nav__logo {
  width: 100%;
  height: 100%;
}

.nav__country {
  position: absolute;
  top: f.rem(-9);
  right: f.rem(-15);
  font-size: map-get($fonts , 'minute');
  font-weight: 100;
  opacity: 0;

  @include lay.breakpoint(medium) {
    opacity: 1;
  }

  
}


.nav__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  border: 1px solid hsl(0, 1%, 81%);
  width: f.rem(400);
  height: f.rem(30);
  border-radius: f.rem(25);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: f.rem(10);
  box-shadow: 0px 0px 1px rgb(222, 222, 222);
  position: relative;

  @include lay.breakpoint(small) {
    display: none;
  }

  @include lay.breakpoint(medium) {
    display: inherit;
  }

}

.search::placeholder {
  background-color: none;
}

.nav__searchbtn {
  height: f.rem(30);
  width: f.rem(50);

  background:  hsl(0, 0%, 92%);
  border-top-right-radius: f.rem(25);
  border-bottom-right-radius: f.rem(25);
  border: 1px solid hsl(0, 1%, 81%);
  margin: -1px;

  box-shadow: 0px 0px 1px rgb(222, 222, 222);
  position: relative;

  @include lay.breakpoint(small) {
    margin-right: -300px;
    background: none;
    box-shadow: none;
    border: none;
    
    
  }

  @include lay.breakpoint(medium) {
    margin-right: 0;
    background:  hsl(0, 0%, 92%);
  border-top-right-radius: f.rem(25);
  border-bottom-right-radius: f.rem(25);
  border: 1px solid hsl(0, 1%, 81%);
  margin: -1px;
  box-shadow: 0px 0px 1px rgb(222, 222, 222);
  }
}


.nav__searchicon{
  width: 30px;
  height: 30px;
  margin-inline: 10px;

  @include lay.breakpoint(medium) {
    width: 20px;
    height: 30px;
  }
  
}

.nav__voice {
  width: f.rem(30);
  background:  hsl(0, 0%, 92%);
  border-radius: 50%;
  padding: 4px 5px;
  margin-left: 15px;
  position: relative;
  

  @include lay.breakpoint(small) {
    display: none;
  }

  @include lay.breakpoint(medium) {
    display: inherit;
  }
}

.nav__voiceicon {
  width: 100%;
  margin-top: 2px;
}

.nav__rightside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
  margin-right: 30px;

}


.bp{
  width: 22px;

  @include lay.breakpoint(small) {
    display: none;
  }

  @include lay.breakpoint(medium) {
    display: inherit;
  }
}

.dp {
  width: 100%;
}

.nav__notificationimg {
  position: relative;
}

.nav_notinumber {
  position: absolute;
  top: -5px;
  right: -3px;
  font-size: 10px;
  background-color: red;
  border-radius: 50%;
  padding: 0 4px;
}

.nav__nameinitials {

  background:  rgba(236, 218, 105, 0.324);
  border-radius: 50%;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 700;
  margin-inline-end:  -90px;
  margin-left: 90px;
  
  @include lay.breakpoint(medium) {
   font-size: 16px;
   padding: 4px 8px;
   margin-inline: none;
   margin-left: 0;
   
  }
 
}

.tooltip {
  position: absolute;
  top: 40px;
  background: rgb(165, 165, 165);
  padding: 8px 5px;
  font-size: 12px;
  white-space: nowrap;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
  
}

.logo-tooltip {
  border-radius: none;
  font-family: Arial, Helvetica, sans-serif;
  background:  rgb(219, 219, 219);
  font-weight: 100;
  font-size: 18px;
  white-space: nowrap;
  padding: 12px 15px;
  left: 80px;
  
}
.voice-tooltip {
  left: -35px;
  top: 43px;
}

.nav__youtubelogo:hover .logo-tooltip {
  opacity: 1;
}

.search-tooltip { 
  top: 50px;
}
.nav__searchbtn:hover .search-tooltip {
  opacity: 1;
}

.nav__voice:hover .voice-tooltip {
  opacity: 1;
}

.nav__notificationimg:hover .noty {
  opacity: 1;
}

.noty {
  right: -20px;
}

.nav__createiconbtn {
  position: relative;
}

.create {
left: -10px;
}

.nav__createiconbtn:hover .create {
  opacity: 1;
}